@mixin box {
	display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
	box-sizing: border-box;
	height: auto;
}

@mixin badgeNovelty{
  width: 85px;
  height:30px;
  background-color: $colorNovelty;
  border-radius: 5px;
}
@mixin badgeBonus {
  width: 85px;
  height: 30px;
  background-color:$colorBonus;
  border-radius: 5px;
}
@mixin btnBuy {
  width: 115px;
  height: 40px;
  background:$colorBuy;
  border-radius: 5px;
}
@mixin notAvailable{
  width: 156px;
  height: 40px;
  background-color: $colorNotAviable;
  border-radius: 5px;
}
@mixin navHover{
  &:hover{
    color: $navHover;
  }
}
////

@mixin anim{
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
@mixin img {
	width: 100%;
	height: 100%;
	display: block;
}
@mixin font {
	font-family: 'GT Eesti Pro Display';
    font-size: 2.5em;
    line-height: 125%;
    font-weight: 400;
    color: #141B41;
}
@mixin box {
	display: block;
  position:relative;
  overflow: hidden;
  width: 100%;
	box-sizing: border-box;
	height: auto;
}

@mixin font-header{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  transition-duration: 0.5s;
  a{
    color: $colortext;
  }
  &:hover{
    text-shadow: 0px 0px 1px $colortext;

  }
}
@mixin button{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 114.8%;
  letter-spacing: 0.01em;
  padding:14px 31px;
  background: $colorbtn;
  border-radius: 27px;
  text-align: center;
  transition-duration: 0.5s;
  cursor: pointer;
 a{
  color: #fff;
 }
 &:hover{
  background-color: #008f39;
  cursor: pointer;
 }
}
@mixin green-line{
  &::before{
    content: " ";
    width: 52px;
    height: 2px;

    position: absolute;
    top: 16px;
    left: -78px;

    background-color: $colorbtn;
    @media(max-width:768px){
      width: 41px;
      left:  -58px;
    }
    
}
}
@mixin form-style{
  
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width:1183px){
    align-items: center;
    label input{
    display: flex;
    justify-content: center;
  }
  }
  @media (max-width:385px){
    max-width: 90%;
  }
  label{
    display: flex;
    flex-direction: column; 
    
    @media (max-width:405px){
    align-items: center; 
    width: 100%;
    }
    
  }
  input{
      margin-bottom: 10px;
      width: 387px;
      height: 48px;
      background: #FBFBFB;
      border: 1px solid #EEEDED;
      border-radius: 4px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 114.8%;
      letter-spacing: 0.01em;
      color: #1D1B1B;
      padding-left: 15px;
      @media (max-width:405px){
        width: 90%;
      }
  }
  button{
        @include button;
      margin-top: 5px;
      border: none;
      width: 387px;
      height: 43px;
      color: #fff;
      @media (max-width:381px){
        max-width: 90%;
      }
      
  }
}



////

@mixin transition1 {
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
@mixin transition2 {
	-webkit-transition: all 400ms linear;
	        transition: all 400ms linear;
}
@mixin transition($time) {
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -ms-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}
@mixin transform($argument) {
	   -moz-transform: $argument;
	     -o-transform: $argument;
	    -ms-transform: $argument;
	-webkit-transform: $argument;
          transform: $argument;
}
@mixin transform-origin ($origin) {
    -moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
@mixin user-select($option) {
  user-select: $option;
  -webkit-touch-callout: $option;
  -webkit-user-select: $option;
  -khtml-user-select: $option;
  -moz-user-select: $option;
  -ms-user-select: $option;
}
@mixin clearfix {
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
  }
}
@mixin vertical-align{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@mixin no-align {
  top:0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@mixin column-treatment($columns, $gap) {
	-webkit-column-count: $columns;
	-moz-column-count: $columns;
	column-count: $columns;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin background-size($type: cover){
  -moz-background-size: $type;
  -webkit-background-size: $type;
  background-size: $type;
}
@mixin background-clip($val: padding-box) {
  -webkit-background-clip: $val;
  -moz-background-clip: $val;
}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}
@mixin transition-delay($number) {
  -webkit-transition-delay: $number;
  transition-delay: $number;
}
@mixin animation ($argument) {
  -webkit-animation: $argument;
  animation: $argument;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName}  {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 10) + rem;
} /*usage  @include font-size(13);*/
