/* Brand Colors ------------------------------------------------*/
$colorNovelty: rgba(85, 187, 159, 1);
$colorBonus : rgba(127, 177, 237, 1);
$colorBuy :rgba(67, 127, 200, 1);
$colorNotAviable :#999999;
$colorText:#1E1E1E;
$navHover:rgba(67, 127, 200, 1);


$text: #434343;
$colorBtn: #446DF6;
$colorMaketTwo:rgba(120, 150, 248, 0.9);
$dark_prim: rgba(3, 187, 254, 0.4);
$colorbtn: #01D957;
$colortext: #1D1B1B;
$colorh3 :#000000;
$colorh2 :#FFFFFF;
// $color2: #3aebca;
// $font-color: #e60c0c;
// $placeholder: $color2;
// $base-font-weight: 300;
// $brand-font-1: '',sans-serif;
// $brand-font-2: '',sans-serif;
