.info-connect {
    margin-top: 10px;
    .layout {
        h2{
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
        }
    }
}
