.advantages {
    margin-top: 50px;
    margin-bottom: 61px;
    .layout {
        overflow: visible;
        ul{
            display: flex;
            justify-content: space-evenly;
            position: relative;
            li{
                display: block;i
                a{
                    img{
                        display: block;
                    }
                }
                &#scroll_top{
                    width: 76px;
                    height: 76px;
                    background-color:#E5E5E5;
                    position: absolute;
                    top: 20px;right: -100px;
                    border-radius: 50%;
                    cursor: pointer;
                    a{
                        display: block;
                        img{
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%);
                            
                        }
                    }
                    
                }
            }
            
        }
    }
    
}
