.technology {
    margin-top: 85px;
    .layout {
        .content {
            margin-top: 33px;
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #1E1E1E;
            }
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 25px;
                color: #1E1E1E;
            }
        }
    }
}


