.method-payment-and-delivery {
    margin-top: 63px;
    .layout {
        .method-delivery {
            h3{
                border: none;
                margin-bottom: 10px;
            }
            .inp{
                display: flex;
                align-items: center;
                margin: 10px 0;
                input[type=date]{
                    margin-left: 30px;
                }
                label{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 35px;
                }
                        
            }
            input[type="radio"]{
                margin-right: 10px;
                cursor:pointer;
                width: 24px;
                height: 24px;
                border: 1px solid #C4C4C4;
                &:checked{
                    // background-color:$colorBuy;
                    
                }
            }
            
            .deliveryCourier{
               
                .your-address{
                    height: 0;
                    overflow: hidden;
                    &.active{
                        padding: 20px 40px;
                        border: 1px solid red;
                        width: 600px;
                        height: 80px;
                        label{
                            margin-right: 20px;
                        }
                        input{
                            border: 1px solid #C4C4C4;
                            border-radius: 5px;
                            height: 30px;
                            width: 300px;
                        }
                    }
                }
            }
            .pickup{
                .our-address.active{
                    display: flex;
                    flex-direction: column;
                    label{
                        margin:10px 0 0px 30px;
                    }
                }
            }
            
            
        }
        .method-payment {
            margin:90px  0 80px;
            h3{
                border: none;
                margin-bottom: 10px;
            }
            .payment{
                display: flex;
                align-items: center;
                label{
                    margin-right: 50px ;
                }
                input[type="radio"]{
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    border: 1px solid #C4C4C4;
                }
            }
        }
    }

}



.our-address {
}

.payment {
}